<div class="height1"></div>
<footer>
	<div class="wrapper">
	<a href="#0" class="cd-top">Top</a>
		<p class="companiesheader">Companies I've worked with:</p>
		<div class="height10"></div>
		<div class="section group">

			<div class="col span_3_of_12 textcenter aboutwidth100">
				<img src="{{ "remington_logo.jpg" | asset_url }}" alt="edwards and walker doncaster opticians" class="img-responsive wow fadeInUp animate_steps1" />
			</div>
			<div class="col span_3_of_12 textcenter aboutwidth100">
				<img src="{{ "regatta_logo.jpg" | asset_url }}" alt="edwards and walker doncaster opticians" class="img-responsive wow fadeInUp animate_steps2" />
			</div>
			<div class="col span_3_of_12 textcenter aboutwidth100">
				<img src="{{ "russellhobbs_logo.jpg" | asset_url }}" alt="edwards and walker doncaster opticians" class="img-responsive wow fadeInUp animate_steps3" />
			</div>
			<div class="col span_3_of_12 textcenter aboutwidth100">
				<img src="{{ "britishairways_logo.jpg" | asset_url }}" alt="edwards and walker doncaster opticians" class="img-responsive wow fadeInUp animate_steps4" />
			</div>

			<div class="height30"></div>
			<p class="font18 textcenter">Depending on location, I am available to work onsite, and of course remote.<br>Regardless of your budget, requirements, or location, <a href="contact">get in touch</a> and we’ll see if we can work something out!</p>

		</div>
		<div class="height30"></div>
		<div class="section group socialmedia_footer">
			<div class="col span_1_of_5 textcenter">
				<a class="twitter" href="https://twitter.com/mikeycattell" title="Why not see my latest shots on Dribbble">TWITTER</a>
			</div>
			<div class="col span_1_of_5 textcenter">
				<a class="behance" href="https://www.behance.net/mikeycattell" title="click here to see my portfolio on Behance">BEHANCE</a>
			</div>
			<div class="col span_1_of_5 textcenter">
				<a class="dribbble" href="https://dribbble.com/mikeycattell" title="Why not see my latest shots on Dribbble">DRIBBBLE</a>
			</div>
			<div class="col span_1_of_5 textcenter">
				<a class="instagram" href="https://instagram.com/mikeycattell/" title="Sometimes I don't take pictures of my dog or dinner on my Instagram, but I promise nothing">INSTAGRAM</a>
			</div>
			<div class="col span_1_of_5 textcenter">
				<a class="linkedin" href="https://www.linkedin.com/in/michaelcattell" title="See my latest CV and references on LinkedIn">LINKEDIN</a>
			</div>
		</div>
		<div class="height30"></div>
		<div class="footercontainer">
			<p class="font12">Copyright © 2015 <a href="http://www.michaelcattell.com" title="Michael Cattell Design Limited">Michael Cattell Design Limited</a>. All rights reserved.</p>
			<div class="mobilefooter">
				<p>Registered in England & Wales. Company number 8809245<br>
			TEL: +44 (0)7463 966691 | <a href="mailto:hello@michaelcattell.com">hello@michaelcattell.com</a></p>

				<p class="font15">Providing web design, front-end development and support to all businesses, small or large — all designed & built by <a href="http://www.michaelcattell.com" title="Providing web design, front-end development and support to all businesses, small or large — all designed & built by Michael Cattell Design Limited">Michael Cattell Design Limited</a>.</p>
			</div>
		</div>
</footer>

