<!--<header style="position: relative;">
<hr class="behind_sub" style="position: absolute; top: 46px;">



		<div class="section group" style="background: #fff;">

			<div class="wrapper">
			<div class="col span_3_of_12 width100" style="background: #fff; position: relative; margin: 0; padding: 11px 0;">
			<h2 class="header anders blacktxt" style="  font-size: 70px; padding-top: 27px;">MC</h2>
			</div>
			<div class="col span_9_of_12 width100 marginnoleft">
			<div class="topcol_nav text-right" style="border: 0;">
				<p class="contactinfo">+44 (0)7925 460880 <span class="hidemobile">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span> <a href="mailto:hello@michaelcattell.com">hello@michaelcattell.com</a></p>
			</div>
			<div class="bottomcol_nav text-left">
				<nav class="generic">
				  <ul>
            		<li {% if mixture.url == "/" %}class="active"{% endif %} class="hidemenu"><a href="/" title="View my portfolio here">home</a></li>					  
            		<li {% if mixture.url == "portfolio" %}class="active"{% endif %}><a href="portfolio" title="View my portfolio here">work</a></li>
            		<li {% if mixture.url == "about" %}class="active"{% endif %}><a href="about" title="read more about me">about</a></li>
            		<li {% if mixture.url == "blog" %}class="active"{% endif %}><a href="blog" title="read more about me">blog</a></li>
            		<li {% if mixture.url == "pictures" %}class="active"{% endif %}><a href="pictures" title="read more about me">pictures</a></li>
            		<li {% if mixture.url == "contact" %}class="active"{% endif %}><a href="contact" title="read more about me">contact</a></li>
				  </ul>
				</nav>
			</div>
			</div>
		</div>

</div>



	
	</div>
</header>-->

<style>

hr.behind { border-color: #e6e6e6; width: 100%;}
p.contactinfo {padding: 12px 0 8px; margin: 0;  color:#bebdbd; font-family: "calluna-sans",sans-serif; font-style: normal; font-weight: 400;}


</style>

<header style="position: relative;">
<hr class="behind" style="position: absolute; top: 46px;">
	
<div class="section group wrapper">
					<div class="col span_12_of_12 width100" style="margin-top: 0; padding-top: 0;">
<div class="herobig" style="position: relative;">

		<div class="section group " style="padding-top: 10px;">
			<div class="col span_1_of_4 width100">
				<h2 class="header anders" style="  font-size: 70px; padding-top: 27px;">MC</h2>
			</div>
			<div class="col span_3_of_4 width100 marginnoleft" style="background: #fff;">
				<div class="topcol_nav text-right">
					<p class="contactinfo">+44 (0)7925 460880 <span class="hidemobile">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span> <a href="mailto:hello@michaelcattell.com">hello@michaelcattell.com</a></p>
				</div>
				
				<div class="bottomcol_nav text-left">
					<nav class="home"  style="max-width: 916px;">
					  <ul>
	            		<li {% if mixture.url == "index" %}class="active hidemenu"{% endif %}><a href="index" title="View my portfolio here">home</a></li>				  
	            		<li {% if mixture.url == "portfolio" %}class="active"{% endif %}><a href="portfolio" title="View my portfolio here">work</a></li>
	            		<li {% if mixture.url == "about" %}class="active"{% endif %}><a href="about" title="read more about me">about</a></li>
	            		<li {% if mixture.url == "blog" %}class="active"{% endif %}><a href="blog" title="read more about me">blog</a></li>
	            		<li {% if mixture.url == "pictures" %}class="active"{% endif %}><a href="pictures" title="read more about me">pictures</a></li>
	            		<li {% if mixture.url == "contact" %}class="active"{% endif %}><a href="contact" title="read more about me">contact</a></li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
<div class="wrapper" style="margin-left: 0;">		
<div class="headerplacer_home">
<p class="header_desc">Portfolio of Michael Cattell</p>
<p class="header_maindesc">Fresh, lively work for web & mobile</p>


  <h1 class="header_desc text-right">Digital Designer and Front-end Developer based in South Yorkshire, England</h1>

</div>

</div>

</div>



	
	</div>

					</div>
				</div>



	<!--<div class="">
	<div class="herobig" style="position: relative;">
<div class="wrapper">
		<div class="section group" style="padding-top: 10px;">
			<div class="col span_1_of_4 width100 ">
			<h2 class="header anders" style="  font-size: 70px; padding-top: 27px;">MC</h2>
			</div>
			<div class="col span_3_of_4 width100 marginnoleft" style="background: #fff;">
			<div class="topcol_nav text-right">
				<p class="contactinfo">+44 (0)7925 460880 <span class="hidemobile">&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span> <a href="mailto:hello@michaelcattell.com">hello@michaelcattell.com</a></p>
			</div>
			<div class="bottomcol_nav text-left">
				<nav class="home">
				  <ul>
            		<li {% if mixture.url == "index" %}class="active hidemenu"{% endif %}><a href="index" title="View my portfolio here">home</a></li>				  
            		<li {% if mixture.url == "portfolio" %}class="active"{% endif %}><a href="portfolio" title="View my portfolio here">work</a></li>
            		<li {% if mixture.url == "about" %}class="active"{% endif %}><a href="about" title="read more about me">about</a></li>
            		<li {% if mixture.url == "blog" %}class="active"{% endif %}><a href="blog" title="read more about me">blog</a></li>
            		<li {% if mixture.url == "pictures" %}class="active"{% endif %}><a href="pictures" title="read more about me">pictures</a></li>
            		<li {% if mixture.url == "contact" %}class="active"{% endif %}><a href="contact" title="read more about me">contact</a></li>
				  </ul>
				</nav>
			</div>
			</div>
		</div>
<div class="headerplacer_home">
<p class="header_desc">Portfolio of Michael Cattell</p>
<p class="header_maindesc">Fresh, lively work for web & mobile</p>


  <h1 class="header_desc text-right">Digital Designer and Front-end Developer based in South Yorkshire, England</h1>

</div>

</div>-->

</div>



	
	</div>
</header>

