{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | British Airways{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="generic_opening">
	<div class="wrapper">
	
		<div class="section group">

			<div class="col span_6_of_12 aboutwidth100">
				
					<h1 class="portfolio_sub_header">British Airways - Lime Management</h1>
					<p class="portfolio_jobduties">Front-end Development &#8226; Email Build &#8226; Wordpress Build</p>
					<p class="portfolio_weblink"><a href="http://prizesofthecaribbean.com/" title="click here to see prizesofthecaribbean.com/">www.prizesofthecaribbean.com</a></p>

							
			</div>

			<div class="col span_6_of_12 aboutwidth100">
				<p class="portfolio_jobdesc">Another project I did alongside Clock Creative.<br>The brief was simple, update a pre-existing Wordpress theme with a new and updated version for this seasonal competition.</p>
				<p class="portfolio_jobdesc">The goal is to promote British Airways and Lime Management give-away for a free trip to Saint Lucia.</p>
				<p class="portfolio_jobdesc"><strong>To find out how I can help you, feel free to <a href="contact" title="To find out how I can help you, feel free to email me here">email me</a> or call me on 07463966691</strong></p>
			</div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "britishairways_1.jpg" | asset_url }}" alt="" class="img-responsive" />	
				
			</div>

			<div class="height30"></div>

			<div class="portfolio_proj col span_12_of_12">
				<div class="col span_12_of_12 firstfix">
					<p class="text-center"><a href="portfolio" title="click here to return back to the projects page">Want to see more projects?</a> OR <a href="services" title="what can i do for you? click here to find out">want to read what I can do for you</a></p></a>
				</div>					
			</div>				
			
				
		</div>

	</div>

</section>


{% endblock %}