{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Contact error{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="about portfolio generic_opening">
	<div class="wrapper">
		<div class="textcenter">
			<div class="maxwidth600 centeritems textcenter">

				<h1 class="textcenter">Email failed!</h1>
				<p>Thanks for trying, but it appears something has gone wrong. I will talk to myself in the most stern manner to correct this and make sure it never happens again.<br>In the mean time, please can you email me at <a href="mailto: hello@michaelcattell.com">hello@michaelcattell.com</a> and I will get you a response as soon as possible.</p>
				<img src="{{ "contact_error.jpg" | asset_url }}" alt="" class="img-responsive" />
				<p class="font12"><i>A very sad Ralph.</i></p>				
				<div class="height1"></div>
				<hr>
				<p class="font20"><strong>For General Enquiries:</strong> +44 (0)7463 966691<br><a href="mailto: hello@michaelcattell.com">hello@michaelcattell.com</a></p>
				<hr>

			</div>
		</div>	
	</div>
</section>




{% endblock %}