{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Contact Success{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="about portfolio generic_opening">
	<div class="wrapper">
		<div class="textcenter">
			<div class="maxwidth600 centeritems textcenter">

				<h1 class="textcenter">Email sent!</h1>
				<p>Thanks for getting in touch, I will get you a response as soon as possible, but in the mean time..why not entertain yourself with some pictures of my <a href="https://instagram.com/fancyralph_/" class="instagram">pooch</a>?</p>
				<img src="{{ "contact_success.jpg" | asset_url }}" alt="" class="img-responsive" />
				<p class="font12"><i>The more emails I get..the more he smiles - true story.</i></p>

				<div class="height1"></div>
				<hr>
				<p class="font20"><strong>For General Enquiries:</strong> +44 (0)7463 966691<br><a href="mailto: hello@michaelcattell.com">hello@michaelcattell.com</a></p>
				<hr>

			</div>
		</div>	
	</div>
</section>




{% endblock %}