{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Grono{% endblock %}
{% block content %} 
{% include "header_subpage" %} 

<section class="generic_opening">
	<div class="wrapper">
	
		<div class="section group">

			<div class="col span_6_of_12">
				<h1 class="portfolio_sub_header">Grono</h1>
				<p class="portfolio_jobduties">Lead Design &#8226; Interaction Design</p>
			</div>

			<div class="col span_6_of_12">
				<p class="portfolio_jobdesc">I was approached by Clock Creative to redesign the Grono website - adding a more modern touch to an already established and quality product.<br>
				A luxury product like this needed a clean and sofisticated touch, which I think I gave it.</p>
				<p class="portfolio_jobdesc"><strong>To find out how I can help you, feel free to <a href="contact" title="To find out how I can help you, feel free to email me here">email me</a> or call me on 07463966691</strong></p>
			</div>

			<div class="col span_12_of_12 textcenter">
				<img src="{{ "grono_1.jpg" | asset_url }}" alt="" class="img-responsive" />	
				<div class="height30"></div>
				<div class="height30 hideunder677"></div>
				<img src="{{ "grono_2.jpg" | asset_url }}" alt="" class="img-responsive" />
				<div class="height30"></div>
				<div class="height30 hideunder677"></div>
				<img src="{{ "grono_3.jpg" | asset_url }}" alt="" class="img-responsive" />
			</div>

			<div class="height30"></div>
			
			<div class="portfolio_proj col span_12_of_12">
				<div class="col span_12_of_12 firstfix">
					<p class="text-center"><a href="portfolio" title="click here to return back to the projects page">Want to see more projects?</a> OR <a href="services" title="what can i do for you? click here to find out">want to read what I can do for you</a></p></a>
				</div>					
			</div>
			
				
		</div>

	</div>

</section>


{% endblock %}