{% block title %}Freelance Digital Designer and Front-end Developer Michael Cattell | Services{% endblock %}
{% block content %}
{% include "header_subpage" %}
<section class="about portfolio generic_opening">
  <div class="wrapper">
    <div class="section group">
      <h1 class="about wow fadeInLeft animate_steps1">Here’s what I can do for you.</h1> 
      <div class="services_content">
          <div class="col span_12_of_12">

            <p>Since graduating in 2003, I've been designing and coding websites, in that time I’ve worked for all types of companies, ranging from advertising agencies to selling bow ties for dogs!<p>
            <p>I pride myself on being a 50/50, a designer and a front-end developer - so this means not only can I create something visually pleasing and perfect for your customers, but I can also take the signed off designs and code them for launch.</p>

            <img class="img-responsive centeritems textcenter" src="{{ "service_header.jpg" | asset_url }}" alt="" />

            <h2 class="font24 paddingtop10">What type of work do you take on?</h2> 
                   
            <p>This is an easy question to answer, anything! If the project is interesting to you, then it is interesting to me.<br>I can just do the design, or just the front-end development - or in most cases I can do the complete package. All my work is responsive, so it can be easily accessed on any device.<br>I code the website in clean and readable html/css and jQuery and do my mock ups in Photoshop.</p>

            <h2 class="font24">What’s It like to work together?</h2> 
                   
            <p>One word: <span class="highlight_black"><i>Fun</i></span>.<br>
            I strive to make the project as enjoyable for both sides, so from a friendly initial meeting (of course with coffee), to the final launch - I will support, advise, and take leadership (if required) and get you your new shiny website live.</p> 

            <h2 class="font24">What's your process like?</h2> 
                   
            <p>This is where I earn my points: after the initial meeting, I then go straight into research mode; this involves discovery, gaining inspiration - spying on your competitors to find out what they do well or wrong and then its time to knuckle down and get my design on.<br>You will receive an estimated project delivery date, and I keep in touch during my whole time working - this is usually to keep you updated on progression, or if I need any answers “on-the-go” or if you have questions you need answering.</p>

            <h2 class="font24">Honesty is my way</h2> 
                   
            <p>Honestly is my middle name - well, this isn't true (it's Alan if you cared), but I pride myself on being honest and I try to bring out your honesty - if you don't like something, it's always welcome to have an opinion about it. I am upfront about the complete process, from initial payment to end deliverables. Anytime you are not happy or need answers/reassurance I am available.</p> 
            <br>          
            <p><strong>Now that is all over - should we have a <a href="contact" title="we should chat about that idea you have - get in touch!">quick chat</a> about that wonderful idea you have and want to get it online?</strong></p>
          </div>       

      </div>
       
    </div>
  </div>

</section>
<section class="home_webthumbs">
  <div class="wrapper"> 
    <div class="section group">
      
      <div class="col span_12_of_12">
        <p class="whatidoheader_main">Technicals</p>
        <div class="col span_3_of_12 firstfix whatidoheader_holder width100">
          <p class="whatidoheader_sub">Specialising</p>
        </div>
        <div class="col span_5_of_12 whatidoheader_holder width100">
          <p class="marginbottom5"><strong>Code</strong></p>
          <p>Html (5)<br>Css (3)<br>jQuery (custom)</p>
        </div>
        <div class="col span_4_of_12 whatidoheader_holder width100">
          <p class="paddingbottom5 no-margin"><strong>Software</strong></p>
          <p>Photoshop<br>Illustrator<br>Dreamweaver<br>Sublime Text</p>
        </div>    
        <div class="col span_3_of_12 firstfix whatidoheader_holder width100">
          <p class="whatidoheader_sub">Frameworks</p>
        </div>
        <div class="col span_5_of_12 whatidoheader_holder width100">

          <p class="paddingbottom5 no-margin"><strong>Responsive</strong></p>
          <p>Zurb Foundation<br>Bootstrap 2.3.2 and 3<br>Custom Build</p>
        </div>
        <div class="col span_4_of_12 whatidoheader_holder width100">
          <p class="paddingbottom5 no-margin"><strong>PHP</strong></p>
          <p>Magento<br>Kohana<br>CakePHP<br>Yii<br>Wordpress</p>
        </div>          
        <div class="height1"></div> 
        <div class="col span_3_of_12 firstfix whatidoheader_holder width100">
          <p class="whatidoheader_sub">Misc</p>
        </div>
        <div class="col span_5_of_12 whatidoheader_holder width100">
          <p>SVN<br>Git(hub)</p>
        </div>  
        <div class="col span_4_of_12 whatidoheader_holder width100">
          <p>Microsoft Office<br>Windows<br>Apple Products</p>
        </div>          
      </div>
<!--
      <div class="col span_5_of_12">
        <img src="{{ "contact_bottomright.jpg" | asset_url }}" alt="" class="img-responsive" />
      </div>    
-->
    </div>
  </div>
</section>
{% endblock %} 